body {
    background: #222;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
}
.search input {
    border: 0; outline: 0; background: #ebfffc;
    color: #555; padding: 10px 20px;
    height: 40px; border-radius: 30px;
}
.weather { margin-top: 20px; }